{% if items %}
  <nav {{ attributes|add_class("usa-pagination") |set_attribute("aria-label", "Pagination"|t) }}>
    <ul class="usa-pagination__list js-pager__items">
      {% for item in items %}
        {% if item.link %}
          <li class="usa-pagination__item usa-pagination__arrow">
            {% set item_attributes = item.attributes|default({}) %}
            <a {{ item_attributes|add_class("usa-pagination__link") |set_attribute("href", item.url) }}>
              {{ item.title }}
            </a>
          </li>
        {% elif item.url %}
          <li class="usa-pagination__item usa-pagination__page-no">
            {% set item_attributes = item.attributes|default({}) %}
            <a {{ item_attributes|add_class("usa-pagination__button") |set_attribute("href", item.url)|set_attribute("aria-label", "Page " ~ item.title) }}>
              {{ item.title }}
            </a>
          </li>
        {% elif item.ellipses %}
          <li class="usa-pagination__item usa-pagination__overflow"
              aria-label="ellipsis indicating non-visible pages">
            <span>…</span>
          </li>
        {% else %}
          <li class="usa-pagination__item usa-pagination__page-no">
            {% set item_attributes = item.attributes|default({}) %}
            <a {{ item_attributes|add_class("usa-pagination__button") |add_class("usa-current")|set_attribute("href", item.url)|set_attribute("aria-label", "Page " ~ item.title) }}>{{ item.title|default("Current page"|t) }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
