{% if variant and variant|lower != "default" %}
  {% set attributes = attributes|add_class("usa-button-group--" ~ variant|lower) %}
{% endif %}
<ul {{ attributes|add_class("usa-button-group") }}>
  {% for button in buttons %}<li class="usa-button-group__item">{{ button }}</li>{% endfor %}
</ul>
