{% set classes = ["usa-footer__social-links", "grid-row", "grid-gap-1"] %}
{% if items %}
  <div {{ attributes|add_class(classes) }}>
    {% for link in items %}
      {% if link %}
        <div class="grid-col-auto">
          {{ {"@component": "social_link", "icon": link.icon, "href": link.url, "name": link.title, } }}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
