{% if variant and variant|lower != "default" %}
  {% set attributes = attributes|add_class("usa-card--" ~ variant|lower)|add_class("grid-col-12") %}
{% else %}
  {% set attributes = attributes|add_class("grid-col-6") %}
{% endif %}
{% if header_first %}
  {% set attributes = attributes|add_class("usa-card--header-first") %}
{% endif %}
{% set header_attributes = {"class": ["usa-card__header", "usa-card__header--exdent" if header_exdent], } %}
{% set body_attributes = {"class": ["usa-card__body", "usa-card__body--exdent" if body_exdent], } %}
{% set media_attributes = {"class": ["usa-card__media", "usa-card__media--exdent" if media_exdent, "usa-card__media--inset" if media_inset, ], } %}
{% set footer_attributes = {"class": ["usa-card__footer", "usa-card__footer--exdent" if footer_exdent], } %}
<{{ "li" if list else "div" }}{{ attributes|add_class("usa-card") }}>
<div class="usa-card__container">
  {% if header %}
    <div {{ header_attributes }}>
      <h{{ heading_level|default(2) }} class="usa-card__heading">{{ header }}</h{{ heading_level|default(2) }}>
    </div>
  {% endif %}
  {% if image %}
    <div {{ media_attributes }}>
      <div class="usa-card__img">{{ image }}</div>
    </div>
  {% endif %}
  {% if content %}
    <div {{ body_attributes }}>
      {{ content }}
    </div>
  {% endif %}
  {% if footer %}
    <div {{ footer_attributes }}>
      <a href="{{ footer_url|default("#") }}" class="usa-button">{{ footer }}</a>
    </div>
  {% endif %}
</div>
</{{ "li" if list else "div" }}>
