{% if variant %}
  {% set variants = variant|split("__")|map("lower")|map("prepend", "usa-button--")|map("replace", "_", "-") %}
  {% set attributes = attributes|add_class(variants) %}
{% endif %}
{% set attributes = attributes|add_class("usa-button") %}
{% if url or attributes.href %}
  {% set url = url|default(attributes.href) %}
  {% set attributes = attributes|set_attribute("href", url) %}
  {% if disabled %}
    {% set attributes = attributes|set_attribute("href", false)|set_attribute("tabindex", "-1")|set_attribute("aria-disabled", "true")|add_class("disabled") %}
  {% endif %}
  <a {{ attributes|set_attribute('role', 'button') }}>{{ label }}</a>
{% else %}
  {% if disabled %}
    {% set attributes = attributes|set_attribute("disabled", "") %}
  {% endif %}
  <button {{ attributes|set_attribute('type', 'button') }}>{{ label }}
  </button>
{% endif %}
