{% if variant %}
  {% set body_position = variant|lower %}
{% endif %}
{% set tooltip_id = "tooltip-" ~ tooltip_id|default(random()) %}
{% set attributes = attributes|merge({"data-position": body_position, "aria-describedby": tooltip_id, "tabindex": 0, "title": tooltip, "class": "usa-tooltip", }) %}
{{ {"@component": "button", "attributes": attributes, "label": label|default("Show") } }}
