{% if items %}
  <ul {{ attributes|add_class("usa-collection") }}>
    {% for item in items %}
      {% if item.attributes %}
        <li {{ item.attributes|add_class("usa-collection__item") }}>
          {{ item.value }}
        </li>
      {% else %}
        <li class="usa-collection__item">{{ item }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
