{% if variant == "slim" %}
  <footer {{ attributes|add_class("usa-footer") |add_class("usa-footer--slim")|set_attribute("role", "contentinfo") }}>
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">{{ "Return to top"|t }}</a>
    </div>
    {% if footer_primary %}
      <div class="usa-footer__primary-section">
        <div class="usa-footer__primary-content">
          {% if footer_primary %}
            <div class="grid-container">
              <div class="grid-row grid-gap">
                <div class="grid-col-fill">{{ footer_primary }}</div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
            {% if agency_logo %}
              <div class="mobile-lg:grid-col-auto">
                {% if agency_url %}
                  <a href="{{ agency_url }}">
                    <img class="usa-footer__logo-img"
                         src="{{ agency_logo }}"
                         alt="{{ "Agency logo"|t }}">
                  </a>
                </div>
              {% else %}
                <img class="usa-footer__logo-img"
                     src="{{ agency_logo }}"
                     alt="{{ "Agency logo"|t }}">
              {% endif %}
            {% endif %}
          </div>
          <div class="usa-footer__contact-links desktop:grid-col-6">
            {% if agency_contact_center %}<h3 class="usa-footer__contact-heading">{{ agency_contact_center }}</h3>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </footer>
{% else %}
  <footer {{ attributes|add_class("usa-footer") |add_class("usa-footer--big")|set_attribute("role", "contentinfo") }}>
    <div class="grid-container usa-footer__return-to-top">
      <a href="#">{{ "Return to top"|t }}</a>
    </div>
    {% if footer_primary %}
      <div class="usa-footer__primary-section">
        <div class="usa-footer__primary-content">
          {% if footer_primary %}
            <div class="grid-container">
              <div class="grid-row grid-gap">
                <div class="grid-col-fill">{{ footer_primary }}</div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
    <div class="usa-footer__secondary-section">
      <div class="grid-container">
        <div class="grid-row grid-gap">
          <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
            {% if agency_logo %}
              <div class="mobile-lg:grid-col-auto">
                {% if agency_url %}
                  <a href="{{ agency_url }}">
                    <img class="usa-footer__logo-img"
                         src="{{ agency_logo }}"
                         alt="{{ "Agency logo"|t }}">
                  </a>
                </div>
              {% else %}
                <img class="usa-footer__logo-img"
                     src="{{ agency_logo }}"
                     alt="{{ "Agency logo"|t }}">
              {% endif %}
            {% endif %}
            {% if agency_name %}
              <div class="mobile-lg:grid-col-auto">
                <h3 class="usa-footer__logo-heading">{{ agency_name }}</h3>
              </div>
            {% endif %}
          </div>
          <div class="usa-footer__contact-links desktop:grid-col-6">
            {% if social_links %}{{ {"@component": "social_links_group", "items": social_links} }}{% endif %}
            {% if agency_contact_center %}<h3 class="usa-footer__contact-heading">{{ agency_contact_center }}</h3>{% endif %}
            <address class="usa-footer__address">
              <div class="usa-footer__contact-info grid-row grid-gap">
                {% if agency_phone %}
                  <div class="grid-col-auto">
                    <a href="tel:{{ agency_phone }}">{{ agency_phone }}</a>
                  </div>
                {% endif %}
                {% if agency_email %}
                  <div class="grid-col-auto">
                    <a href="mailto:{{ agency_email }}">{{ agency_email }}</a>
                  </div>
                {% endif %}
              </div>
            </address>
          </div>
        </div>
        {% if footer_secondary %}
          <div class="grid-row grid-gap">
            <div class="grid-col-fill">{{ footer_secondary }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </footer>
{% endif %}
