{% set attributes = attributes|add_class("usa-button") %}
{% set attributes = attributes|set_attribute("aria-label", aria_label|default("Close"|t)) %}
{% set attributes = attributes|set_attribute("type", "button") %}
<button {{ attributes }}>
  {{ {"@component": "icon", "icon_name": "close"} }}
</button>
