<div {{ attributes|add_class("usa-logo") |add_class("site-logo")|set_attribute("id", "logo") }}>
  <em class="usa-logo__text">
    {% if site_logo and not site_name %}
      <a class="logo-img"
         href="{{ front_path }}"
         accesskey="1"
         title="{{ "Home"|t }}"
         aria-label="Home">
        <img src="{{ site_logo }}" alt="{{ "Home"|t }}" />
      </a>
    {% endif %}
    {% if site_name and not site_logo %}
      <a href="{{ front_path }}"
         accesskey="2"
         title="{{ "Home"|t }}"
         aria-label="Home">{{ site_name }}</a>
    {% endif %}
    {% if site_logo and site_name %}
      <a class="logo-img"
         href="{{ front_path }}"
         title="{{ "Home"|t }}"
         aria-label="Home">
        <img src="{{ site_logo }}" alt="{{ "Home"|t }}" />
        {{ site_name }}
      </a>
    {% endif %}
    {% if site_slogan %}<h2 class="usa-font-lead">{{ site_slogan }}</h2>{% endif %}
  </em>
</div>
