{% if bordered %}
  {% set attributes = attributes|add_class("usa-accordion--bordered") %}
{% endif %}
{% if multiselect %}
  {% set attributes = attributes|add_class("usa-accordion--multiselectable")|set_attribute("data-allow-multiple", "true") %}
{% endif %}
<div {{ attributes|add_class("usa-accordion") }}>
  {{ content }}
</div>
