{% if variant and variant|lower != "default" %}
  {% set attributes = attributes|add_class("usa-section--" ~ variant|lower) %}
{% endif %}
<section {{ attributes|add_class("usa-section") }}>
  <div class="grid-container">{{ content }}</div>
</section>
