{% set wrapper_attributes = {"class": ["usa-date-picker"]} %}
{% if min_date %}
  {% set wrapper_attributes = wrapper_attributes|set_attribute("data-min-date", min_date) %}
{% endif %}
{% if max_date %}
  {% set wrapper_attributes = wrapper_attributes|set_attribute("data-max-date", max_date) %}
{% endif %}
{% if range_date %}
  {% set wrapper_attributes = wrapper_attributes|set_attribute("data-range-date", range_date) %}
{% endif %}
{% if default_value %}
  {% set wrapper_attributes = wrapper_attributes|set_attribute("data-default-value", default_value) %}
{% endif %}
{% if required %}
  {% set attributes = attributes|set_attribute("required", "true") %}
{% endif %}
{% if disabled %}
  {% set attributes = attributes|set_attribute("disabled", "true") %}
{% endif %}
{% if hint %}<div class="usa-hint" id="appointment-date-hint">{{ hint }}</div>{% endif %}
<div {{ wrapper_attributes }}>
  <input {{ attributes|add_class("usa-input") }} />
</div>
