<li {{ attributes|add_class("usa-icon-list__item") }}>
  {% if not icon_attributes %}
    {% set icon_attributes = {} %}
  {% endif %}
  <div {{ icon_attributes|add_class("usa-icon-list__icon") }}>
    {{ {"@component": "icon", "icon_name": icon_name} }}
  </div>
  <div class="usa-icon-list__content">
    {% if header %}
      <h3 class="usa-icon-list__title">{{ header }}</h3>
      {% if body %}<div>{{ body }}</div>{% endif %}
    {% else %}
      {% if body %}<div>{{ body }}</div>{% endif %}
    {% endif %}
  </div>
</li>
