{% if variant and variant != "default" %}
  {% set attributes = attributes|add_class("usa-icon--" ~ variant|replace("_", "-")) %}
{% endif %}
{% set sprite_path = sprite_path|default("/assets/images/sprite.svg") %}
<svg {{ attributes|add_class("usa-icon") |set_attribute("aria-hidden", "true")|set_attribute("focusable", "false")|set_attribute("role", "img") }}>
  <use xlink:href="{{ sprite_path }}#{{ icon_name }}"></use>
</svg>
